body {
  font-family: "Roboto Slab", serif;
}

header {
  background-color: #bbbb;
  padding: 20px 0;
}

.caja {
  width: 940px;
  position: relative;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 100px;
  right: 0px;
}

nav li {
  display: inline-block;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #c78c19;
  text-decoration: underline;
}

.productos {
  width: 940px;
  margin: 0 auto;
  padding: 50px;
}

.productos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 10px;
}

.productos li:hover {
  border-color: #c78c19;
}

.productos li:active {
  border-color: #088c19;
}

.productos h2 {
  font-size: 30px;
  font-weight: bold;
}

.productos li:hover h2 {
  font-size: 33px;
}

.prod-desc {
  font-size: 18px;
}

.prod-prec {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

footer {
  text-align: center;
  background: url(/img/bg.jpg);
  padding: 40px;
}

footer img {
  width: 15%;
}

.copyright {
  margin: 20px;
  color: #fff;
}

form {
  margin: 40px 3em;
  width: 940px;}

form label,
legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.inputPadron,
form textarea {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

.checkbox {
  margin: 30px 0;
}

.enviar {
  width: 40%;
  padding: 15px 0;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: orange;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
}

.enviar:hover {
  background: darkorange;
  transform: scale(1.2);
}

table {
  margin: 40px;
}

thead {
  background: #555;
  color: white;
  font-weight: bold;
}

td,
th {
  border: 1px solid #000;
  padding: 8px 15px;
}

/*CSS para nuestra home*/

.banner {
  width: 100%;
}

.tituloPrincipal {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
}

.principal {
  background: #fefefe;
  padding: 3em 0;
  width: 940px;
  margin: 0 auto;
}

.principal p {
  margin: 0 0 1em;
}

.principal strong {
  font-weight: bold;
}

.principal em {
  font-style: italic;
}

.utensilios {
  width: 120px;
  float: left;
  margin: 0 20px 20px 0;
}

.mapa {
  padding: 3em 0;
  background: linear-gradient(#fefefe, #888888);
}

.mapaContenido {
  width: 940px;
  margin: 0 auto;
}

.mapa p {
  margin: 0 0 2em;
  text-align: center;
}

.diferenciales {
  padding: 3em 0;
  background: #888888;
}

.contenidoDiferenciales {
  width: 640px;
  margin: 0 auto;
}

.listaDiferenciales {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.items {
  line-height: 1.5;
}

.items:before {
  content: "✶";
}

.items:first-child {
  font-weight: bold;
}

.imagenDiferenciales {
  width: 60%;
  transition: 400ms;
  box-shadow: 10px 10px 30px 15px #000;
}

.imagenDiferenciales:hover {
  opacity: 0.3;
}

.video {
  width: 560px;
  margin: 1em auto;
}

/*Media query*/

@media screen and (max-width:480px) {
  h1 {
    text-align: center;
  }
  nav {
    position: static;
  }
  .caja, .principal, .mapaContenido, .contenidoDiferenciales, .video {
    width: auto;
  }
  .listaDiferenciales, .imagenDiferenciales {
    width: 100%;
    margin: 1em 0;
  }
  .productos li{
    display: block;
    margin: 6.5em 0;
    width: 33.3%;
  }
  form, table, .inputPadron {
    text-align: center;
    margin: 2em auto;
    width: auto;
  }
  .inputPadron {
    width: 80%;
  }
}